permissions:
  contents: write
  issues: read
  pull-requests: read

name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io jq
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Josephgavor100
          template: classic
          base: header, repositories, activity, languages, stars, isocalendar, followup, habits
          plugin_repositories: yes
          plugin_activity: yes
          plugin_languages: yes
          plugin_stars: yes
          plugin_isocalendar: yes
          plugin_followup: yes
          plugin_habits: yes
          config_timezone: UTC
